[;; enums
 {:db/ident :member/admin}
 {:db/ident :member/manager}
 {:db/ident :member/accountant}
 {:db/ident :member/employee}
 {:db/ident :member/external}

 {:db/ident :company/partner}
 {:db/ident :company/regular}
 {:db/ident :company/contractor}


;; member
 {:db/ident :member/firstname
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}
 {:db/ident :member/lastname
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}
 {:db/ident :member/email
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/identity
  :db/index true}
 {:db/ident :member/role
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one}
 {:db/ident :member/password
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}
 {:db/ident :member/id
  :db/valueType :db.type/string
  :db/unique :db.unique/identity
  :db/cardinality :db.cardinality/one}
 {:db/ident :member/company
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one}


 ;; company
 {:db/ident :company/id
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/identity
  :db/index true}
 {:db/ident :company/name
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/identity
  :db/index true}
 {:db/ident :company/role
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one}
 {:db/ident :company/contact
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}
 {:db/ident :company/email
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}
 {:db/ident :company/department
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}
 {:db/ident :company/street
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}
 {:db/ident :company/city
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}
 {:db/ident :company/postal
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}
 {:db/ident :company/country
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}


  ;; account
 {:db/ident :account/IBAN
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}
 {:db/ident :account/BIC
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}
 {:db/ident :account/holder
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one}


 ;; project
 {:db/ident :project/id
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/identity
  :db/index true}
 {:db/ident :project/title
  :db/valueType :db.type/string
  :db/unique :db.unique/identity
  :db/index true
  :db/cardinality :db.cardinality/one}
 {:db/ident :project/description
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}
 {:db/ident :project/startDate
  :db/valueType :db.type/instant
  :db/cardinality :db.cardinality/one}
 {:db/ident :project/endDate
  :db/valueType :db.type/instant
  :db/cardinality :db.cardinality/one}
 {:db/ident :project/acceptedAt
  :db/valueType :db.type/instant
  :db/cardinality :db.cardinality/one}
 {:db/ident :project/paidAt
  :db/valueType :db.type/instant
  :db/cardinality :db.cardinality/one}
 {:db/ident :project/client
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one}
 {:db/ident :project/responsible
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one}
 {:db/ident :project/members
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many}
 {:db/ident :project/rate
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/one}
 {:db/ident :project.rate/unit
  :db/valueType :db.type/keyword
  :db/cardinality :db.cardinality/one}
 {:db/ident :project/budget
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/one}
 {:db/ident :project.budget/unit
  :db/valueType :db.type/keyword
  :db/cardinality :db.cardinality/one}


  ;; task
 {:db/ident :task/title
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}
 {:db/ident :task/description
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}
 {:db/ident :task/assignee
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one}
 {:db/ident :task/project
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one}
 {:db/ident :task/estimation
  :db/valueType :db.type/double
  :db/cardinality :db.cardinality/one}
 {:db/ident :task.estimation/unit
  :db/valueType :db.type/keyword
  :db/cardinality :db.cardinality/one}
 {:db/ident :task/parent
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one}
 {:db/ident :task/id
  :db/valueType :db.type/string
  :db/unique :db.unique/identity
  :db/index true
  :db/cardinality :db.cardinality/one}


 ;; effort
 {:db/ident :effort/startDate
  :db/valueType :db.type/instant
  :db/cardinality :db.cardinality/one}
 {:db/ident :effort/endDate
  :db/valueType :db.type/instant
  :db/cardinality :db.cardinality/one}
 {:db/ident :effort/task
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one}
 {:db/ident :effort/member
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one}


 ;; offer
 {:db/ident :offer/id
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}
 {:db/ident :offer/title
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}
 {:db/ident :offer/project
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}
 {:db/ident :offer/created-at
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}
 {:db/ident :offer/sent-at
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}
 {:db/ident :offer/filename
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}


 ;; invoice
 {:db/ident :invoice/id
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}
 {:db/ident :invoice/title
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}
 {:db/ident :invoice/project
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}
 {:db/ident :invoice/created-at
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}
 {:db/ident :invoice/sent-at
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}
 {:db/ident :invoice/remark
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}
 {:db/ident :invoice/filename
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}


 ;; turnover
 {:db/ident :turnover/sales-data
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}
 {:db/ident :turnover/booking-day
  :db/valueType :db.type/instant
  :db/cardinality :db.cardinality/one}
 {:db/ident :turnover/amount
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/one}
 {:db/ident :turnover/unit
  :db/valueType :db.type/keyword
  :db/cardinality :db.cardinality/one}
 {:db/ident :turnover/remark
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}
 {:db/ident :turnover/invoice
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one}
 {:db/ident :turnover/filename
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}]
